body{
    padding: 0%;
    margin: 0%;
}

/* ---------------------------top div of the page ----------------------- */
/* Get all user heading  */
#body {
    background-image: linear-gradient(aqua,rgb(255, 255, 255),rgb(113, 236, 252));
    margin-top: 5px;
    padding: 5px;
    margin: auto;
    width: 100%;
    text-align: center;
}



/* button styles  */
button{
    background-color: rgb(0, 255, 179);
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}
/* hover on button  */
button:hover{
    background-color: rgb(240, 146, 6);
    color: white;
    box-shadow: rgb(179, 179, 179) 3px 3px;
}






/* ---------------------------------edit box ------------------------------------- */
#edit-box{
    background-image: linear-gradient(aqua,rgb(255, 255, 255),rgb(113, 236, 252));
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    width: 70%;    
    min-width: 350px;
    left: 15%;
    top: 5%;
    padding: 20px;
}


/* heading in edit box  */
h2{
    width: 100%;
    text-align: center;
}

/* user image in edit box  */
img{
    width: 30%;
    text-align: center;
    padding: 5px 30%;
}

/* input fields in edit box  */
input, textarea, select {
    width: 70%;
    margin: 5px 15%;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 15px;
    display: block;
    text-align: center;
}

textarea{
    padding: 10px;
}

label p{
    display: inline-block;
}

#anim{
    position: absolute;
    z-index: 5;
    top: 30%;
    left: -5%;
    width: 50%;
}


@media only screen and (max-width:650px){

    p,h5 {
        font-size: 12px;
    }
        

    #edit-box{
        left: 5%;
        top: 4%;
        min-width: 90%;
        padding: 5px;
    }

    button {
        margin-top: 5px;
        padding: 2px;
        font-size: 12px;
    }
}
